@import url('https://fonts.google.com/specimen/Kumbh+Sans')
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.orange {
  color: hsl(26, 100%, 55%);
}

.page-orange {
  background: hsl(25, 100%, 94%)
}
